version: '3.8'
services:
  bot:
    build: .
    restart: always
    env_file:
      - .env
    volumes:
      - .:/usr/src/app
      - /var/run/docker.sock:/var/run/docker.sock

  voicevox:
    # Local VOICEVOX Engine
    # Starts by default but will be STOPPED by the Bot if API points are sufficient.
    image: voicevox/voicevox_engine:cpu-ubuntu20.04-latest
    restart: always
    tty: true

